
<div class="container">
  <div>
    <acme-navbar active-class='activeHome'></acme-navbar>
  </div>
  <div class="row">
      <div class="col-md-8">
        <label>Graph's</label>
          <div id="hcharts-container"></div>
        </canvas>
      </div>
      <div class="col-md-4">
        <label>Registration Users</label>
        <div ng-if="users == null">No Data Present</div>
        <table ng-if="users !== null" class="table">
          <tr ng-repeat="user in users">
              <td>{{user.name}}</td>
              <td>{{user.contactNo}}</td>
              <td>{{user.enquiryDate}}</td>
              <td>{{user.status}}</td>
          </tr>
        </table>
      </div>
  </div>
</div>
